<!-- Hero section -->
<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-first-block">
            <div class="hero-descr">
                <h1 class="main-title">Discover Your Next Favorite Artist Today</h1>
                <p class="hero-text">Dive into a world of music discoveries with ArtistsHub – your personal guide to the
                    boundless universe of sound.
                    Explore, filter, and learn about your favorite artists all in one place.</p>
            </div>

            <button class="explore-btn">Explore Artists <svg class="explore-btn-icon" width="24" height="24">
                    <use href="/img/sprite.svg#arrow-right-icon"></use>
                </svg></button>
        </div>
        <div class="hero-second-block">

        </div>
    </div>
</section>