<div class="modal-artists container" id="artistModal">
    <div class="modal-content">
        <button class="close-modal">&times;</button>
        <div id="modalLoader" class="loader"></div>
        <div class="modal-body">
            <!-- ВЕРХНІ БЛОК: Фота + Апісанне -->
            <div class="artist-overview-block">
                <!-- Карцінка злева -->
                <div class="hero-artist-container">
                    <img src="" alt="Artist photo" class="hero-artist-img">
                    <!-- Назва артыста будзе тут -->
                    <h2 class="modal-title"></h2>
                </div>
                <!-- Апісанне справа -->
                <div class="artist-description-details">
                    <h3>Інформація про виконавця</h3>
                    <ul class="artist-info-list"></ul>
                    <h3>Жанры</h3>
                    <ul class="genres-list"></ul>
                    <h3>Біографія</h3>
                    <p class="artist-info-bio-text"></p>
                </div>
            </div>

            <!-- НІЖНІ БЛОК: Толькі альбомы -->
            <div class="artist-albums-block">
                <h3>Альбомы</h3>
                <ul class="artist-albums-list"></ul>
                <!-- Кнопкі пагінацыі для альбомаў будуць дададзены тут JS-ом -->
            </div>
        </div>
    </div>
</div>