.section-header {
  padding: 10.5px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}

.nav-link {
  display: block;
  font-weight: 400;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  font-size: 18px;
  ;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}